body{
    background-color: #E5E5E5;
    height: 95vh;
    font-family: 'Inter', sans-serif;
}
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  } */
  

html {
    margin: 0;
    padding: 0;

}

.secciones-encripta{
    display: flex;

    flex-direction: row;
    align-items: center;

}

header{
    padding: 10px;
    margin-bottom: 5px;
}
.logo-alura>img{
    width: 80px;
    height: auto;

}


input{
    position: relative;
    top: 0;
    left: 0;
}
.miTextarea{
    width: 400px;
    height: 400px;
    overflow-y: auto;
    background-color: transparent;
    border: unset;
    padding: 15px;
  /*  text-align: left; */


    font-size: 20px; /* Cambia el tamaño del texto */
    font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
    color: #0A3871; /* Cambia el color del texto */
}
.miTextarea::placeholder{
    color: #0A3871;
    font-size: 20px;
    vertical-align: text-top;
    padding: 5px 20px 0px 0px ;
    opacity: 0.6;

}

.miTextarea:focus{
    outline: none;
}


.result{
    font-family: "Arial", sans-serif; /* Cambia la fuente del texto */
    font-size: 20px; /* Cambia el tamaño del texto */
    font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
    color: #0A3871; /* Cambia el color del texto */
}

/*texto minuscula y acentos*/
.informacion{
    font-size: 14px;
}

.cajas-escribir{
    flex: 55;
    background-color: transparent;
    margin-left: 130px;
}

.mensajes-a{
    display: none;
}
button {
    font-size: 12px; /* Texto mediano */
    padding: 20px 90px; /* Padding regular */
    cursor: pointer;
    border-radius: 20px; /* Bordes redondeados */
    margin-right: 20px;
}

button#encripta {
    background-color: #0A3871; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */

}

button#desencripta {
    background-color: #D8DFE8; /* Color de fondo */
    color: #0A3871; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */

}

button#limpiar {
    background-color: #0A3871; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */

}

button#copiar {
    background-color: #0A3871; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */


}


/* 343A40
495057
*/

.cajas-mensaje{

    width: 20%;
    height: 50vh;
    background-color: #ffffff;
    padding: 120px 40px 120px 40px;
    margin: 0px 40px 10px 0px;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.caja-muestra-mensajes{
    text-align: center;
}

.busca{
    width: 70%;
    align-items: center;
    display: inline-block;
}
.text1{
    color: #343A40;
    font-weight: bold;
    font-size: 28px;

}

.text2{
    display: inline-block;
    float: center;
    color: #495057;
    font-size: 16px;

}

/*boton copiar */
.copiar{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*DISEÑO RESPONSIVO */
/* Estilos para tabletas (400px a 750px) */
@media only screen and (min-width: 400px) and (max-width: 700px) {
    body {
      font-size: 14px;
      /* Otros estilos para tabletas */
    }
    .secciones-encripta{
        display:inline;
    }
    .busca{
        display: none;
    }
    .cajas-mensaje{
        flex: 30;
        background-color: #ffffff;
        padding: 20px;
        margin: 40px 20px 20px 20px;
        border-radius: 12px;
    }
    .caja-muestra-mensajes{
        text-align: center;
    }


    .miTextarea{
        width: 90%;
        height: 300px;
        overflow-y: auto;
        background-color: transparent;
        border: unset;
        padding: 15px;
      /*  text-align: left; */
    
    
        font-family: "Arial", sans-serif; /* Cambia la fuente del texto */
        font-size: 20px; /* Cambia el tamaño del texto */
        font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
        color: #0A3871; /* Cambia el color del texto */
    }

    .cajas-escribir{
        margin-left: 0px;
    }
}

  /* Estilos para celulares (menor a 400px) */
@media only screen and (max-width: 400px) {
    body {
    font-size: 12px;
      /* Otros estilos para celulares */
    }
    .secciones-encripta{
        display:inline;
    }
    .busca{
        display: none;
    }
    .cajas-mensaje{
        flex: 30;
        background-color: #ffffff;
        padding: 18px;
        margin: 40px 20px 20px 20px;
        border-radius: 12px;
    }
    .caja-muestra-mensajes{
        text-align: center;
    }
    .miTextarea{
        width: 90%;
        height: 300px;
        overflow-y: auto;
        background-color: transparent;
        border: unset;
        padding: 15px;
      /*  text-align: left; */
    
    
        font-family: "Arial", sans-serif; /* Cambia la fuente del texto */
        font-size: 14px; /* Cambia el tamaño del texto */
        font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
        color: #0A3871; /* Cambia el color del texto */
    }
    .cajas-escribir{
        margin-left: 0px;
    }
}
}