body{
    background-color: #E5E5E5;
}

html {
    margin: 0;
    padding: 0;

}

.secciones-encripta{
    display: flex;
}

header{
    padding: 10px;
    margin-bottom: 5px;
}
.logo-alura>img{
    width: 60px;
}


input{
    position: relative;
    top: 0;
    left: 0;
}
.miTextarea{
    width: 400px;
    height: 400px;
    overflow-y: auto;
    background-color: transparent;
    border: unset;
    padding: 15px;
  /*  text-align: left; */


    font-family: "Arial", sans-serif; /* Cambia la fuente del texto */
    font-size: 20px; /* Cambia el tamaño del texto */
    font-weight:400; /* Cambia el grosor del texto (puede ser normal, bold, etc.) */
    color: #0A3871; /* Cambia el color del texto */
}
.miTextarea::placeholder{
    color: #0A3871;
    font-size: 20px;
    vertical-align: text-top;
    padding: 5px 20px 0px 0px ;

}

.miTextarea:focus{
    outline: none;
}


/*texto minuscula y acentos*/
.informacion{
    font-size: 14px;
}

.informacion::before{
    content: url('images/exclamation-circle-fill.png');
    display: inline-block;
    margin-right: 5px;
}

.cajas-escribir{
    flex: 55;
    background-color: transparent;
    margin-left: 70px;
}

.mensajes-a{
    display: none;
}
button {
    font-size: 12px; /* Texto mediano */
    padding: 10px 70px; /* Padding regular */
    cursor: pointer;
    border-radius: 7px; /* Bordes redondeados */
}

button#encripta {
    background-color: #0A3871; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */

}

button#desencripta {
    background-color: #D8DFE8; /* Color de fondo */
    color: #0A3871; /* Color del texto */
    border: 1px solid #0A3871; /* Borde del botón */

}


/* 343A40
495057
*/

.cajas-mensaje{
    flex: 30;
}

.caja-muestra-mensajes{
    background-color: #ffffff;
    padding: 120px 40px 120px 40px;
    border-radius: 12px;

}

.busca{
    width: 70%;
    align-items: center;
    display: inline-block;

}
.text1{
    color: #343A40;
    font-weight: bold;
    font-size: 28px;

}

.text2{
    display: inline-block;
    float: center;
    color: #495057;
    font-size: 16px;

}
